*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.header{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: bisque;
}
.text2{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}
button{
    width: 100px;
    height: 30px;
}
.btn{
    display: flex;
    justify-content: center;
    align-items: center;
}
.material-symbols-outlined{
    position: relative;
    right: 95px;
}