*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.head{
    display: flex;
    flex-wrap: wrap;
    gap: 50px;
    justify-content: flex-end;
    width: 100%;
    height: 60px;
    align-items: center;
}
.arround{
    background-color: bisque;
}
h3{
    position: relative;
    right: 60px;
}
.left{
    width:400px;
    height: 400px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 40px;
}
.left2{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 40px;
}
button{
    width: 200px;
    height: 40px;
}
img{
    border-radius: 50%;
    position: relative;
    bottom: 70px;
}
.main{
    display: flex;
    justify-content: space-around;
    height: 500px;
    width: 100%;
    align-items: center;
}
.right{
    display: flex;
    align-items: center;
}